<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Espedito Melo - Java | Software Development | Cloud | AI | Database</title>
    <p style="padding-left: 20px"><strong>Espedito Melo</strong> - Java | Software Development | Cloud | AI | Database</p>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

</head>

<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h2">Home</span>

    </nav>
</header>

<section>
    <div class="container" style="width: 60%; padding-bottom: 30 px;">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="backgound-color: white; padding-left: 0px">
                <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>

            <a href="/newpost" class="btn btn-primary" role="button">New Post</a>

            <a href="#" class="btn btn-primary" role="button">Categories</a>

            <a href="/users" class="btn btn-primary" role="button">Users</a>

            <a href="/logout" class="btn btn-primary" role="button">Logout</a>
        </nav>


    </div>
</section>
</body>
</html>