<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<body>
<div layout:fragment="content">
    <section>
        <div class="container" style="width: 60%; padding-bottom: 30 px;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="backgound-color: white; padding-left: 0px">
                    <li class="breadcrumb-item active" aria-current="page">Posts</li>
                </ol>
            </nav>

            <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                        <span th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy')}"></span> - by
                        <span th:text="${post.user.username}"></span>
                    </p>

                    <a th:href="${(#mvc.url('PC#getPostDetailed').arg(0, post.id)).build()}">
                        <h4 class="card-title" style="font-weight: bold; color=black; padding-top: 5px;">
                            <span th:text="${post.title}"></span>
                        </h4>
                    </a>
                    <p class="card-text">
                        <span th:utext="${#strings.abbreviate(post.body,400)}"></span>
                    </p>
                    <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                                <span th:each="category : ${post.categories}">
                                    <a th:href="@{/postsbycategory/{id}(id=${category.id})}">
                                        <span class="badge badge-secondary" th:text="${category.name}"></span>
                                    </a>
                                </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>