<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<body>
<div layout:fragment="content">

        <section>
            <div class="container" style="width: 60%; padding-bottom: 30 px;">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="backgound-color: white; padding-left: 0px">
                        <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Post</li>
                    </ol>
                </nav>

                <article>
                    <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span th:text="${post.title}"></span></h1>

                    <p class="card-subtitle mb-2 text-muted">
                        <i class="material-icons">person_outline</i>
                        <span th:text="${post.user.username}"></span>
                        <br>
                        <i class="material-icons">date_range</i>
                        <span th:text="${#temporals.format(post.createdAt, 'dd/MM/yyyy')}"></span>
                    </p>

                    <div th:if="${post.mainImageUrl != null}" style="margin-bottom: 30px; text-align: center;">
                        <img th:src="${post.mainImageUrl}" alt="Post image" style="max-width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                    </div>

                    <section>
                        <p class="card-text" style="margin-top: 40px;"><span th:utext="${post.body}"></span></p>
                    </section>
                </article>

            </div>
        </section>

</div>
</body>
</html>